* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	background-color: black;
	background-image: url("https://images.unsplash.com/photo-1478059299873-f047d8c5fe1a");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: white;
	animation: zoom-in 1s;
}

@keyframes zoom-in {
	0% {
		background-size: 120% auto;
	}
	100% {
		background-size: 100% auto;
	}
}

.hero-section__overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	animation: fadeout 1s;
}

@keyframes fadeout {
	0% {
		background-color: black;
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
